@media screen and (max-width: 534px) {
  .s-fontsize-15rem {
    font-size: 1.5rem
  }
}

.sinpleBtn {
  padding: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.green-underbar {
  display: inline-block;
  position: relative;
}
.green-underbar::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -9px;
  border-bottom: 3px solid #068273;
}

.breen-button, .white-button{
  display: inline-block;
  padding: 16px 56px;
  font-size: 18px;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.3s;
}

.breen-button {
  color: #068273;
  border: 1px solid #068273;
}

.white-button {
  color: white;
  border: 1px solid white;
}

.breen-button:hover {
  cursor: pointer;
  color: white;
  background-color: #068273;
  border: 1px solid #068273;
  transition: all 0.5s 0s ease;
}

.white-button:hover {
  cursor: pointer;
  color: #068273;
  background-color: white;
  border: 1px solid #068273;
  transition: all 0.5s 0s ease;
}

.button:hover, .white-button:hover {
  cursor: pointer;
}